<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-area-afiliaciones">Datos del área de afiliaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-cotizante">Datos del cotizante</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/aseguramiento/form-empleador">Datos de beneficiarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/aseguramiento/form-grupo-familiar">Datos del empleador</a>
    </li>
  </ul>
</div>
