<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/aseguramiento/form-area-afiliaciones">Datos del área de afiliaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-cotizante">Datos del cotizante</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-empleador">Datos de beneficiarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-grupo-familiar">Datos del empleador</a>
    </li>
  </ul>
</div>

<div>
  <div class="row">
    <div class="row m-5">
      <h2>1. <span class="tituloForm">Información del área de afiliaciones de la unidad de salud</span></h2>
    </div>
  </div>
  <div class="row m-5">
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">

  </div>
</div>

