<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/aseguramiento/form-area-afiliaciones">Datos del área de afiliaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-cotizante">Datos del cotizante</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-grupo-familiar">Datos de beneficiarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aseguramiento/form-empleador">Datos del empleador</a>
    </li>
  </ul>
</div>

<form [formGroup]="formAreaAfiliaciones" (ngSubmit)="onSave()" autocomplete="off">
  <div class="m-5">

    <div class="row m-3">
      <h2>1. <span class="tituloForm">Información del área de afiliaciones de la unidad de salud</span></h2>
    </div>

    <div class="row m-3">

      <div class="col-3">
        <input type="text" class="form-control" placeholder="Fecha de ingreso al SGSSS" formControlName="fechaSgsss">
      </div>

      <div class="col-3">
        <input type="text" class="form-control" placeholder="Tipo de afiliación" formControlName="tipoAfiliacion">
      </div>

      <div class="col-3">
        <input type="number" class="form-control" placeholder="Número de radicación" formControlName="numeroRadicacion">
      </div>

      <div class="col-3">
        <input type="text" class="form-control" placeholder="Fecha de radicación" formControlName="fechaRadicacion">
      </div>

    </div>

    <div class="row m-3">

      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Observaciones" formControlName="observaciones">
      </div>

    </div>

    <div class="row m-3">
      <div class="grupoBotones">
        <button type="button" class="btn btn-primary custom-btn mx-2">Atrás</button>
        <button type="button" class="btn btn-primary custom-btn mx-2">Cancelar</button>
        <button type="submit" class="btn btn-primary custom-btn mx-2">Siguiente</button>
      </div>
    </div>

  </div>
</form>

