
.divLayout {
  background-color: rgb(229, 225, 229);
  min-height: 100vh; /* Ajusta la altura mínima al 100% de la altura de la ventana */
}

.content{
  margin-left: 373px; /* Ajusta el margen izquierdo para dejar espacio para el menú lateral */
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  border: 0px solid rgba(0, 0, 0, 0);
  min-height: 40vh;
}

